*
{
    padding: 0px;margin: 0px; box-sizing: border-box;
}
.navbar
{
    background-color: rgba(0, 0, 0, 0.459);
}
.logo
{
    width: 80px;
    border-radius: 35%;
}

.manu1
{
    border-bottom: 2px solid #39b54a;
}
.navbar-nav li {
    padding: 0 25px;
    font-size: 20px;
    font-family: maths;
   
}
ul li a:hover
{
border-bottom: 3px solid #39b54a;
}
ul li a{
    color: white !important;
}

.navbar-nav li a {

    font-weight: 400;
}

.banner1
{
    background-image: url(../image/leave\ banner.jpg);
    /* height: 830px; */
    width: 100%;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: relative; */
}
.banner1text{
    /* font-family: "montserrat-medium", sans-serif; */
    font-family: cursive;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: .3rem;
}
.banner1text2
{
   color:  #39b54a;;
}
.logimg
{
    width: 550px;
    box-shadow: 0px 1px 16px 5px black;
}
.login-box
{
    background-color: rgba(0, 0, 0, 0.856);
    box-shadow: 0px 1px 16px 5px black;
}
.logtext1
{
    color:#39b54a;
}
.form-control
{
    background-color: transparent;
    border: none;
   background: transparent;
   border-bottom: 1px solid gray;
  
}

::placeholder
{
    color: white !important;
}

.logebutton1
{
    background-color: #39b54a;
    color: black !important;
    width: 138px;
    border-radius: 20px;
    height: 44px;
    font-size: 17px;
    font-family: cursive;
}
.logebutton2
{
    background-color: #39b54a;
    color: black !important;
    width: 138px;
    border-radius: 20px;
    height: 44px;
    font-size: 16px;
    font-family: cursive;
}
.footer1
{
    background-color: #111111;
}
.footerimg1
{
    width: 250px;
    /* height: 360px; */
    border-radius: 30%;
}
.footertext1
{
    color: #39b54a;
}
.footerpera1
{
    font-family: "montserrat-light", sans-serif;
    font-size: 15px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.3);
}
.input1
{
    background-color: black;
    border: none;
    color: rgba(255, 255, 255, 0.3);
}
.input2
{
    background-color: #39b54a;
    border: none;
    color: white;
}
.footertext2
{
    color: #39b54a;
}